<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.transactions>
		<defaultSettings xdt:Transform="RemoveAttributes(timeout)" />
	</system.transactions>
    <connectionStrings>
        <add name="MemberEntities"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="data source=PW2051-DBS;initial catalog=WCToolkit;Persist Security Info=True;User Id=wcftoolkit;Password=CDE#vfr4BGT%nh;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="OrchardEntities"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="data source=PW2051-DBS;initial catalog=WCToolkitCMS;Persist Security Info=True;User Id=wcftoolkit;Password=CDE#vfr4BGT%nh;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
        <authentication mode="Forms">
            <forms xdt:Transform="Replace" loginUrl="https://login.max.gov/cas/login" timeout="30" defaultUrl="~/Default.aspx" cookieless="UseCookies" slidingExpiration="true" />
        </authentication>
		<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" xdt:Transform="SetAttributes(validationKey,decryptionKey)" />
	</system.web>
</configuration>