@{
    // Model is Model.Menu from the layout (Layout.Menu)
    var tag = Tag(Model, "ul");

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Items);

    if (items.Any())
    {
        items[0].Classes.Add("first");
        items[items.Count - 1].Classes.Add("last");
    }
}

<!--
    If we ever want to restore the secondary menu, this code is what puts it on the page.


<div class="navbar navbar-default hidden-print" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sub-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
            <span>Application Menu</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="sub-navbar-collapse">
        <ul class="nav navbar-nav">
            @DisplayChildren(Model)
        </ul>
    </div>
</div>
-->
