@{
    ViewBag.Title = "Whoops!";
}
<section class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <h2>@ViewBag.Title</h2>
            <p>The page you are trying to reach is either unavailable at the moment or does not exist.</p>
            <p>Please check the link you are using and try again. Or, visit our <a href="/home">Home page</a> to find something else you'd like to see</p>
            <p>
                You may also contact <a href="mailto:wcfsupport@dha.mil">wcfsupport@dha.mil</a> or @Html.ActionLink("fill out a support form", "Contact", "Support", new { area = "" }, new { })
                for assistance troubleshooting this issue.
            </p>
        </div>
        <div class="col-md-2">
            <span class="fa fa-exclamation-triangle" style="color: #c2002a; font-size:150px;"></span>
        </div>
    </div>
</section>